# OpenAI settings
OPENAI_API_KEY=sk-

#Slack settings
SLACK_APP_TOKEN=xapp-
SLACK_BOT_TOKEN=xoxb-
SLACK_SIGNING_SECRET=
SLACK_CHANNEL_ID=

# Database settings
DB_TYPE=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=postgres

# Alfred settings
API_TOKEN=
API_BASE_URL=
BASE_URL=
TAVILY_API_KEY=
SQS_QUEUE_URL=
AWS_REGION=

# Langfuse settings
LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
LANGFUSE_HOST=

